* {
  box-sizing: border-box;
}

body {
    background-color: #ECFAFF;
    color: #181D27
}


h1 {
    text-align: center;
    margin-top: 75px;
}

p {
    margin-top: 15px;
    margin-bottom: 15px;
    border: #2F2963;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #3A7D44;
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 0.8;
}

ul li {
    float: left;
}

ul li a {
    display: block;
    color: #69B578;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul li a:hover {
    background-color: #254D32;
}

div.contactinfo {
    text-align: center;
}

div.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

div.gallery-item-vertical {
    margin: 5px;
    border: 1px solid #ccc;
    width: 180px;
}

div.gallery-item-vertical img {
    width: 100%;
    height: auto;
}

div.gallery-item-vertical div.desc {
    padding-top: 20px;
    text-align: center;
}

div.gallery-item-horizontal {
    margin: 5px;
    border: 1px solid #ccc;
    height: 280px;
}

div.gallery-item-horizontal img {
    height: 100%;
    width: auto;
}

div.gallery-item-horizontal div.desc {
    padding: 15px;
    text-align: center;
}

div.album {
    padding: 20px;
}

div.album-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

div.album-container div.desc {
    padding-top: 5px;
    text-align: center;
}

div.album:hover {
    opacity: 80%;
}

div.crop {
    width: 400px;
    height: 400px;
    overflow: hidden;
}

div.crop img {
    width: 400px;
    height: auto;
    margin: -200px 1 0 -100px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.column {
  flex: 33%;
  max-width: 33%;
  padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
}

@media screen and (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}

@media screen and (max-width:600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}

div.about-me {
    text-align: center;
    font-size: 14pt;
    padding-left: 20%;
    padding-right: 20%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5%;
    background-color: #3A7D44;
    color: #181D27;
    text-align: center;
}